{% extends "base.html" %}

{% block title %}Homepage{% endblock title %}

{% block main %}
    <div class="flex-between">
        <h1>My Tasks</h1>
        <form action="{% url "task_new" %}"><button class="btn btn-primary">+New</button></form>
    </div>
    {% if tasks %}
        <ul class='task-list'>
            {% for task in tasks %}
                <li class='task-list-item'>
                    <p class="task-title" style="{% if task.is_complete %}text-decoration:line-through;{% endif %}">
                        {{task.title}}
                    </p>

                    <div class="task-actions">
                        <a href="{% url "task_detail" task.pk%}" alt="view details"><i class="bi bi-eye-fill"></i></a>
                        <a href="{% url "task_update" task.pk%}" alt="update"><i class="bi bi-pencil-fill"></i></a>
                        <a href="{% url "task_delete" task.pk%}" alt="delete"><i class="bi bi-trash-fill"></i></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock main %}