{% extends "base.html" %}
{% block title %}
  Homepage
{% endblock title %}
{% block main %}
  {% load humanize %}
  <div class="flex-between container-header">
    <h1>My Tasks</h1>
    <form action="{% url "task_new" %}">
      <button class="btn bg-primary shadow-press">+New</button>
    </form>
  </div>
  <div class="container-body">
    {% if tasks %}
      <ul class="task-list">
        {% for task in tasks %}
          <li class="task-list-item" id="task-{{ task.pk }}">
            <div class="task-list-item__status">
              <button id="toggle-task-{{ task.pk }}"
                      class="ibtn shadow-press toggle-button
                             {% if task.is_complete %}checked{% endif %}"
                      data-task-pk="{{ task.pk }}">
                <i class="bi bi-check"></i>
              </button>
            </div>
            <a href="{% url "task_detail" task.pk %}" class="task-list-item__title">
              <strong>
                {{ task.title }}
                {% if task.priority == "1" %}
                  (‼️)
                {% elif task.priority == "2" %}
                  (❗️)
                {% endif %}
              </strong>
            </a>
            <div class="task-list-item__actions task-actions">
              <a href="{% url "task_update" task.pk %}"
                 class="bg-primary shadow-press ibtn"
                 alt="update">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <button id="task-delete-{{ task.pk }}"
                      type="button"
                      data-task-pk="{{ task.pk }}"
                      class="bg-secondary shadow-press ibtn"
                      alt="delete">
                <i class="bi bi-trash-fill clr-neutraldark"></i>
              </button>
            </div>
            <p class="task-list-item__description">{{ task.description }}</p>
            <div class="task-list-item__flags fs-xs
                        {% if task.is_past_due %}clr-secondarydark{% endif %}">
              {% if task.due_on %}
                <i class="bi bi-calendar3"></i>
                {{ task.due_on|date:"d M" }}
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock main %}
